extends ../layouts/main-layout.pug

block content
    if products.length ==0
        h1 Product is Empty
    else
        each product in products
            div.product(style="display:inline-block")
                .card(style="width: 18rem; margin:5rem 1rem; align-content:center; text-align:center")
                    h5.card-title #{product.title}
                    img.card-img-top(src="/img/productThumb.jpg" alt="Product Thumbnail")
                    .card-body                   
                        p.card-text(style="font-weight:bold") Rp. 1.024.000
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content
                        a.btn.btn-outline-primary(href="") Add to Cart
                
            
            
